vagrant/.vagrant/machines/default/virtualbox/action_provision
vagrant/.vagrant/machines/default/virtualbox/action_set_name
vagrant/.vagrant/machines/default/virtualbox/synced_folders
vagrant/.vagrant/machines/default/virtualbox/id
vagrant/.vagrant/machines/default/virtualbox/creator_uid
vagrant/.vagrant/machines/default/virtualbox/index_uuid
vagrant/.vagrant/machines/default/virtualbox/private_key
*.pyc
vagrant/Vagrantfile
vagrant/Vagrantfile
vagrant/tournament/misc.py
vagrant/tournament/test2.py
vagrant/tournament/test1.py
vagrant/tournament/misc.py
vagrant/catalog/examples/lotsofmenus.py
vagrant/catalog/examples/lotsofmenus2.py
vagrant/catalog/examples/restaurantmenu.db
vagrant/catalog/examples/restaurantmenuwithusers.db
vagrant/catalog/pg_config.sh