{% extends "main.html" %}
{% block content %}
{% include "header.html" %}	
	<div class="row banner menu">
		<div class="row banner menu img-rounded" style="background-image: url('{{ url_for('show_file', id = catalog.id, type = 'header') }}')">
			<h1>Edit {{catalog.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
		
			<form action="#" method = "post" enctype="multipart/form-data" >
				<div class="form-group">
					<h3><label for="name">Rename the catalog:</label></h3>
					<input type="text" class="form-control" name="name" value="{{catalog.name }}">
				</div>
				
				<div class="form-group">
					<h3><label for="header-color">Change header color:</label></h3>
					<input type="text" class="form-control" name="header_color" maxlength="6" value="{{catalog.header_color}}">
				</div>
				
				<div class="form-group">
					<h3><label for="upload">Upload a header image:</label></h3>
					{# browse button #}
					<input class="btn btn-lg btn-block" type='file' name='file'>
					<p class="help-block">Recommended size 1200x150.</p>
					{# submit #}
					<button type="submit" class="btn btn-default btn-block" id="submit" type="submit">
						<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Submit Changes
					</button>
					{# cancel #}
					<a href='{{url_for('showCatalog', catalog_id = catalog.id)}}'>
						<button type="button" class="btn btn-default btn-block delete">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel
						</button>
					</a>
				</div>
			</form>
			
		</div>
	</div>
{% endblock %}