{% extends "main.html" %}
{% block content %}
{% include "header.html" %}	
	<div class="row banner menu">
		<div class="row banner menu img-rounded" style="background-image: url('{{ url_for('show_file', id = catalog_id, type = 'header') }}')">
			<h1>New Catalog Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
		
			<form action="#" method = "post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the item">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="2500" rows="3" name="description" placeholder="Description of the item"></textarea>

				</div>
			
				<label for="upload">Image:</label>
			
						<input class="btn btn-default" type='file' name='file'>
							<button type="submit" class="btn btn-default" id="submit" type="submit">
								<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Submit
							</button>
			
						<a href='{{url_for('showCatalog', catalog_id = catalog_id)}}'>
							<button type="button" class="btn btn-default delete">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel
							</button>
						</a>
			</form>
		</div>
	</div>
{% endblock %}

