{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	privateCatalog
	<div class="row banner menu" style="background-image: url('{{ url_for('show_file', id = catalog.id, type = 'header') }}')">
		<div>
			<h1 {% if catalog.header_color %}style="color: #{{catalog.header_color}};"{% endif %}>{{ catalog.name }}
				<figure class="creator">
					<img src="{{ url_for('static', filename='blank_user.gif') }}">
					<figcaption>Catalog creator's name goes here</figcaption>
				</figure>
			</h1>
		</div>
	</div>

	<div class="row banner">
	{% with messages = get_flashed_messages() %}
		{% if messages %}          
			<ul class="flash">
				{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	
	{# dropdown menu #}
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Owner Menu<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		</button>
		<ul class="dropdown-menu">
		<li><a href="{{url_for('newCatalogItem', catalog_id = catalog.id )}}">
			<button type="button" class="btn btn-default" id="new-menu-item">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Catalog Item
			</button>
		</a></li>
		
		<li role="separator" class="divider"></li>
		
		<li><a href="{{url_for('editCatalog', catalog_id = catalog.id )}}">
			<button type=button" class="btn btn-default" id="new-menu-item">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Catalog
			</button>
		</a></li>
		
		<li><a href="{{url_for('deleteCatalog', catalog_id = catalog.id )}}">
			<button type="button" class="btn btn-default delete" id="delete-catalog">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Catalog
			</button>
		</a></li>
		</ul>
	</div>
	
	{% if items !=[] %}	
		<div class="row">
			<h2>Items</h2>
				{% for i in items %}
					<div class="menu-item">
						<div class="row">
							<div class="col-md-6">
								<h3>
									{{i.name}}
								
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('menuItemJSON', catalog_id = catalog.id, item_id = i.id)}}">View JSON</a></li>
											<li role="separator" class="divider"></li>
											<li><a href='{{url_for('editCatalogItem', catalog_id = catalog.id, item_id=i.id ) }}'>Edit</a></li>
											<li><a href='{{url_for('deleteCatalogItem', catalog_id = catalog.id, item_id=i.id ) }}'>Delete</a></li>
										</ul>
									</div>
								</h3>
								
								<p>{{i.description}}</p>
							</div>
							<div class="col-md-6">
							{% if i.item_image %}
								<img src="{{ url_for('show_file', id = i.id, type = 'item') }}" 
								class="img-responsive img-rounded" >
							{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
		</div>
	{% endif %}
	<div class="row text-right">
			<a href="#top">Back to top</a> | 
			<a href="{{ url_for('oneCatalogJSON', catalog_id = catalog.id) }}">View page in JSON</a>		
	</div>
	
{% endblock %}
