{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-6">
			<a href="{{url_for('showCatalogs')}}">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Catalogs
			</a>
		</div>
		<div class="col-md-6 text-right">
			<a href="{{url_for('showLogin')}}">
				<span class="glyphicon glyphicon-log-in"></span>Log in
			</a>
		</div>
	</div>
	publicCatalogs
	<div class="row banner main">
		<div class="col-md-12">
			<h1>Catalogs</h1>	
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for catalog in catalogs %}
		<a href = "{{url_for('showCatalog', catalog_id = catalog.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 catalog-list">
						<h3>{{catalog.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
	<div class="row text-right">
		<a href="#top">Back to top</a> | 
		<a href="{{ url_for('allCatalogsJSON') }}">View JSON</a>
	</div>
	
{% endblock %}
