{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-6">
			<a href="{{url_for('showCatalogs')}}">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Catalogs
			</a>
		</div>
		<div class="col-md-6 text-right">
			<a href="{{url_for('showLogin')}}">
				<span class="glyphicon glyphicon-log-in"></span>Log in
			</a>
		</div>
	</div>
	publicCatalogs
	<div class="row banner main">
		<div class="col-md-12">
			<h1>Catalogs</h1>	
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	</div>

	
	<div id="grid" data-columns>
	{% for catalog in catalogs %}
		<div>
			<a href="{{url_for('showCatalog', catalog_id = catalog.id)}}">
				<h3 class="catalog-name">{{catalog.name}}</h3>
				{% if catalog.header_image_tn %}
					<img src="{{ url_for('show_file', id = catalog.id, type = 'header_image_tn') }}" class="img-responsive img-rounded center-block">
				{% endif %}
			</a>	
		</div>
	{% endfor %}
	</div>
	<br clear="all">
	
	<div class="row text-right">
		<a href="#top">Back to top</a> | 
		<a href="{{ url_for('allCatalogsJSON') }}">View page in JSON</a>
	</div>
	<script src="{{ url_for('static', filename='salvattore.min.js.txt') }}"></script>	
{% endblock %}
